<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <h1>Hello!</h1>
        <a href="/login" class="cole-3 btn btn-primary">Login</a>
        <a href="/signup" class="col-3 btn btn-primary">Signup</a>
    </div>
</main>

<%- include('partials/footer') -%>