<%- include('partials/header') -%>
<div>
  <div>
    <p><strong>User Name</strong>: <%= user.userName %></p>
    <p><strong>Email</strong>: <%= user.email %></p>
    <a href="/logout" class="col-3 btn btn-primary">Logout</a>
  </div>
  <div>
    <p>What are you planning right now?</p>
  </div>
</div>
<%- include('partials/footer') -%>